{% extends "forum/main.html" %}
    {% block content %}

        <div class="container">
            {% comment %} <h1>profile</h1> {% endcomment %}
            <h2 class="col-md-8 mx-auto text-center mt-4 text-dark font-weight-bold">Asked questions</h2>

            {% for question in questions %}
                <div class="card my-3 mx-3 col-md-8 mx-auto">    
                <div class="card-body">
                    <a class="card-link" href="{% url  'question_display' question.id %}">
                        <h5 class="card-body"> {{question.question_text}}</h5>
                    </a>
                </div>
                </div>
            {% endfor %}
            
            <h2 class="col-md-8 mx-auto text-center text-dark font-weight-bold">Answered by me</h2>
            {% for answer in answers %}
            <div class="card my-3 col-md-8 mx-auto">
                <div class="card-body">
                    <a class="card-link" href="{% url  'question_display' answer.question_id.id %}">
                        <h5 class="card-title"> {{answer.question_id.question_text}}</h5>
                    </a>
                    <div>
                        <h5 class="card-body">{{answer.answer_text}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}