{% extends "forum/main.html" %}
    {% block content %}

    <style>
    #id_report_text{
        margin: 20px;
		width: 96%;
		margin-right: 20px;
    }
    </style>
    <div class="container mt-3">
    <!-- ask question card starts here -->
        <div class="card gedf-card">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-header">

                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <p class="nav-link active text-dark" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Why are you reporting this question?</p>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <!-- <textarea class="form-control" id="message" rows="3" placeholder="...."></textarea> -->
                                {{form.report_text}}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block col-md-3 mx-auto">Report</input>
                </div>
            </form>
        </div>
    {% endblock %}