#logo{
}

body{
    background-color: #cedef8 ;
}
/* */
.navbar{
    background-color: #111e6c !important;
    color: #ffffff;
}

.msg{
    color: #ffffff;
}

/*
.card-title .card-body{
    color: #343a40 !important;
}
*/
.nav-link{
    color: #ffffff !important;
}
